<%- include('./partials/head') %>

<section class="wrapper pt-5 bg-light">
    <div class="card col-xl-4 offset-xl-4 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <% if (messages.length !== 0) { %>
            <% for(const msg of messages) { %>
                <div class="alert alert-danger mx-5 mt-4 mb-0" role="alert">
                    <b>Error! </b><%= msg %>
                </div>
            <% } %>
        <% } %>
        <div class="card-body p-5">
            <div class="form-wrapper">
                <form method="POST">
                    <div class="mb-3">
                      <label for="username" class="form-label">Username or email address</label>
                      <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Remember password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                    <div class="text-center">
                      <p>Not a member? <a href="/auth/register">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
      </div>
</section>

<%- include('./partials/footer') %> 
